* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  cursor: none;
  overflow-x: hidden;
}

/* CURSOR START */

.maxCircle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  backdrop-filter: invert(100%);
  z-index: 1000000000;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.mediumCircle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  backdrop-filter: invert(100%);
  z-index: 1000000000;
  transform: translate(calc(-50% - 3px), calc(-50% - 3px));
  pointer-events: none;
}

.minCircle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  backdrop-filter: invert(100%);
  z-index: 1000000000;
  transform: translate(calc(-50% - 6px), calc(-50% - 6px));
  pointer-events: none;
}

/* CURSOR END */

.test {
  display: none;
  width: 667px;
  height: 375px;
  background-image: url('https://fotos.hoteles.net/articulos/mazagon-huelva-8613-1.jpg');
  overflow: hidden;
  transition: .5s;
}

.test div {
  width: 100%;
  height: 100%;
  background: transparent;
  transition: .5s;
}

p.test-clip {
  font-size: 40px;
  font-weight: 700;
  background: url('https://fotos.hoteles.net/articulos/mazagon-huelva-8613-1.jpg');
  -webkit-background-clip: text;
  width: 100%;
  height: 100%;
  color: transparent;
  transition: .5s;
  text-align: justify;
  line-height: 40px;
  letter-spacing: 2px;
}